---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar';
import Hero from '../components/Hero';
import NoveltySection from '../components/NoveltySection';
import PricingGrid from '../components/PricingGrid';
import AuthoritySection from '../components/AuthoritySection';
import Testimonials from '../components/Testimonials';
import Footer from '../components/Footer';
---

<Layout>
	<Navbar client:load />
	<main>
		<Hero client:load />
		<NoveltySection client:visible />
		<PricingGrid client:visible />
		<AuthoritySection client:visible />
		<Testimonials client:visible />
	</main>
	<Footer client:visible />
</Layout>
